<section>
  <h1>A Bit More About Me</h1>
		<p>I currently manage the computer application and technology programs at University of Calgary Continuing Education.</p>
		<p>My expertise is in <a href="http://en.wikipedia.org/wiki/Training_and_development">Learning and Development</a>, Education as a Business and <a href="http://en.wikipedia.org/wiki/Personal_development">Personal Development</a>.</p>
		<p>I am currently becoming proficient at Web Design and Development.</p>

	<h2>Learning and Development</h2>
		<ul>Educational Technology | Adult Education | Online Education | Instruction | Program Development</ul>

	<h2>Education as a Business</h2>
		<ul>Marketing | Recruitment | Enrolment Management</ul>

	<h2>Personal Development</h2>
		<ul>Lifelong Learning | Metacognition | Physiology, Nutrition and Kinesiology</ul>

	<h2>Web Design</h2>
		<p>Content Strategy and Development | Information Architecture and Design | User Interface and Experience Design</p>
		
	<h2>Web Development</h2>
		<p>HTML and CSS | JavaScript and jQuery | Ruby on Rails | PostgreSQL | Git</p>
</section>

<section>
	<blockquote>
		<small>The lyf so short, the craft so long to lerne
			<sup id="fnref:aside.1">
				<a href="#fn:aside.1">[1]</a>
			</sup>
		</small>
	</blockquote>
	<ol>
		<li id="fn:aside.1">
		<small>[1] <a href="http://en.wikipedia.org/wiki/Geoffrey_Chaucer">Geoffrey Chaucer</a> in the opening line of his poem, <a href="http://www.librarius.com/longpoemsfs/longpoems/parliament.htm"><em>Parlement of Foules</em></a> written in <a href="http://en.wikipedia.org/wiki/Middle_English">Middle-English</a> and completed around 1382.</small></li>
	</ol>
</section>

<section>
	<a href="http://ca.linkedin.com/in/schipperius/"><img src="/images/social/linkedin.png" height="32" width="32"></a>
	<a href="http://twitter.com/schipperius"><img src="/images/social/twitter.png" height="32" width="32"></a>
</section>
