<section>
  <h1>A Bit More About Me</h1>
	<p>I have been working in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</p>
	<p>I currently manage the computer application and technology programs at University of Calgary Continuing Education.</p>
</section>

<section class="">
	<a href="http://ca.linkedin.com/in/schipperius/"><img src="/images/social/linkedin.png" height="32" width="32"></a>
	<a href="http://twitter.com/schipperius"><img src="/images/social/twitter.png" height="32" width="32"></a>
</section>