<section>
  <h1>A Bit More About Me</h1>
	<p>I have been working in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</p>
	<p>I currently manage the computer application and technology programs at University of Calgary Continuing Education.</p>
</section>

<section class="googleplus">
  <ul>
  	<li><a href="http://ca.linkedin.com/in/schipperius">
			LinkedIn</a>
		</li>
		<li><a href="https://plus.google.com/schipperius?rel=author">
			Google+</a>
		</li>
    <li><a href="https://github.com/schipperius/">
				Github</a>
		</li>
		<li><a href="http://twitter.com/schipperius">
			Twitter</a>
		</li>
	</ul>
</section>