// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// floats copyright to the right
.right {
	float: right;
}

// removes bullets from categories page
.bullet {
	list-style-type: none;
}

// removes highlighted underline from arrows in endnotes
.arrow {
	text-decoration: none;
}

// reduce size of endnotes
.endnotes {
	font-size: 80%;
}

// Google Contact Form
.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
}
