// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


// reduce font-size of article headings
h1 {
  font-size: 1.5em;
  line-height: 1.2em;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1.15em; }
  h1 { font-size: 1.7em; line-height: 1.2em; }
}

h2, section h1 {
  font-size: 1.3em;
}
h3, section h2, section section h1 {
  font-size: 1.1em;
}

// floats copyright to the right
.right {
	float: right;
}

// removes bullets from categories page
.bullet {
	list-style-type: none;
}

// removes highlighted underline from arrows in endnotes
.arrow {
	text-decoration: none;
}

// reduce size of endnotes
.endnotes {
	font-size: 80%;
}

// Google Contact Form
.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
}

.read-on {
  background: darken($main-bg, 3);
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  text-decoration: none;
  color: mix($text-color, $text-color-light);
  @extend .serif;
  @include transition(background-color .5s);
  &:hover {
    background: $link-color-hover;
    text-shadow: none;
    color: $main-bg;
  }
}

@import "mixins";